h2{
    text-align: center;
    padding: 50px;
    
}

.top{
    background-image: url(../dndteste/top.jpg);
    background-size: cover;
  background-repeat: no-repeat;
    color: white;
    padding: 0;
    background-position:center bottom 25%;
}

li.list-group-item.d-flex.justify-content-between.align-items-center{

    background-color: rgba(118, 118, 118, 0.469);

}